In [ ]:
import pandas as pd
import streamlit as st
import pickle

In [ ]:
!pip install streamlit-theme

In [ ]:
st.title("Movie-List")

In [81]:
movies = pd.read_csv("csv/movies.csv")
links = pd.read_csv("csv/links.csv")
ratings = pd.read_csv("csv/ratings.csv")
#display(movies.shape)
#display(links.shape)
movies = movies.merge(links,on="movieId",how="left")
movies["longtitle"] = movies["title"]
movies["year"] = movies["title"].str[-5:-1]
movies["title"] = movies["title"].str[0:-6]
movies["title"] = movies["title"].str.strip()
movies["titlen"] = movies["title"].str.len()
movies = movies.drop(["imdbId"],axis=1).copy()
movies = movies.drop_duplicates().copy()
movies = movies.loc[movies["title"] != ""]
movies = movies.sort_values(["title","year"]).copy()
display(movies.shape)
movies.head(3)

(9740, 7)

,movieId,title,genres,tmdbId,longtitle,year,titlen
8600,117867,'71,Action|Drama|Thriller|War,252178.0,'71 (2014),2014,3
8014,97757,'Hellboy': The Seeds of Creation,Action|Adventure|Comedy|Documentary|Fantasy,72867.0,'Hellboy': The Seeds of Creation (2004),2004,32
5528,26564,'Round Midnight,Drama|Musical,14670.0,'Round Midnight (1986),1986,15

In [83]:
fileObj = open('pickle/movielist.sav', 'wb')
pickle.dump(movies[["movieId","title","genres","year","tmdbId"]],fileObj)
fileObj.close()

In [ ]:
movies.loc[movies["title"].str.contains("'")]

In [ ]:
movies.value_counts("longtitle").head(10)

In [ ]:
movies[["title","year","titlen","genres"]].loc[movies["title"]=="Emma"]

In [ ]:
movies.value_counts("title")

In [84]:
movies.head(3)

,movieId,title,genres,tmdbId,longtitle,year,titlen
8600,117867,'71,Action|Drama|Thriller|War,252178.0,'71 (2014),2014,3
8014,97757,'Hellboy': The Seeds of Creation,Action|Adventure|Comedy|Documentary|Fantasy,72867.0,'Hellboy': The Seeds of Creation (2004),2004,32
5528,26564,'Round Midnight,Drama|Musical,14670.0,'Round Midnight (1986),1986,15

In [ ]:
fileObj = open('pickle/movielist.sav', 'wb')
pickle.dump(movies,fileObj)
fileObj.close()

In [ ]:
pickle.load(open('pickle/movielist.sav', 'rb'))

In [ ]:
pickle.load(fileObj = open('data.obj', 'wb')
pickle.dump(exampleObj,fileObj)
fileObj.close())

In [ ]:
movielist

In [ ]:
import requests
url = "https://movie-database-alternative.p.rapidapi.com/"
querystring = {"s":"Avengers Endgame","r":"json","page":"1"}
headers = {
	"X-RapidAPI-Key": "5fa14b11eb00ababb5cc2307d9ff8266",
	"X-RapidAPI-Host": "movie-database-alternative.p.rapidapi.com"
}
response = requests.get(url, headers=headers, params=querystring)
print(response.json())

In [ ]:
import requests
import os
from dotenv import load_dotenv

def get_poster_url(tmdbId):
    load_dotenv()
    api_key = os.getenv('TMDB_API_KEY')
    api_key = "5fa14b11eb00ababb5cc2307d9ff8266"
    response = requests.get(f'https://api.themoviedb.org/3/movie/{tmdbId}?api_key={api_key}')
    data = response.json()
    poster_path = data.get('poster_path')
    if poster_path:
        return f'https://image.tmdb.org/t/p/w500{poster_path}'
    else:
        return None

In [ ]:
url = get_poster_url(8844)
url

In [ ]:
    API_key = "5fa14b11eb00ababb5cc2307d9ff8266"